.cartela {
  display: flex;
  flex-direction: column;
}

/* Linha das letras */
.linha-letras {
  display: flex;
  justify-content: space-around;

}

.letra {
  
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;
}

/* Cores por letra */
.letra-B {
  font-size: 2rem;
  color: #2b8cc7;
  border-bottom: 3px solid #2b8cc7;
}

.letra-I {
  font-size: 2rem;
  color: #aa1414;
  border-bottom: 3px solid #aa1414;
}

.letra-N {
  font-size: 2rem;
  color: #8abb52;
  border-bottom: 3px solid #8abb52;
}

.letra-G {
  font-size: 2rem;
  color: #ff7b00ff;
  border-bottom: 3px solid #ff7b00ff;
}

.letra-O {
  font-size: 2rem;
  color: #a36498;
  border-bottom: 3px solid #a36498;
}
