.welcome-container {
  height: 100vh ;
  background-color: #0b0b0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 30px;
}

.logo {
  font-size: 64px;
  color: white;
  letter-spacing: 8px;
}

.start-button {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background-color: transparent;
  color: #b799e9;
  border: 2px solid #b799e9;
  cursor: pointer;
  transition: all 0.3s ease;
}
