.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.modal {
    background: #111;
    color: white;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    position: absolute;
    text-align: center;
    display: flex;
    border: 2px solid rgb(55, 55, 55);
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 25px;
  border-radius: 8px;
}

.modal-reiniciar {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  font-weight: bold;
  color: #b799e9;
  border: 2px solid #b799e9;
}
