
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background-color: #0b0b0f;
  color: #ffffff;
}

.container-principal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 58px;
  margin-top: 3rem;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}


.botoes-bingo {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background-color: transparent;
  color: #b799e9;
  border: 2px solid #b799e9;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #b799e9;
  color: #ffffff;
  box-shadow: 0 0 5px #b799e9;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
    padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background-color: transparent;
  color: #b799e9;
  border: 2px solid #b799e9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-parar{
    padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background-color: transparent;
  color: #b799e9;
  border: 2px solid #b799e9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botoes{
  display: flex;
  gap: 10px;
}

.sorteados{
  text-align: center;
  display: flex;
  height: 100px;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.sorteados p{
  font-weight: 600;
  margin-right: 5px;
}

.sorteados h3{
  padding: 8px;
  border-radius: 10px;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

p {
  font-size: 18px;
}
